.progress-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: left;
}
.progress-bar-background {
    height: 10px;
    width: 100%;
    background-color: #ecf0f1;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar-foreground {
    height: 100%;
    background-color: #3498db;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}